:root {
    --theme_color: rgb(58, 161, 245);
}

/* Error messages color */
.error_message {
	color: rgb(228, 29, 29);
}
.success_message {
	color: rgb(11, 121, 11);
}
/* Header design */
body {
    padding-top: 70px;
}
#navheader {
    background-color: var(--theme_color);
    padding-top: 15px;
    padding-bottom: 15px;
}
#menuItem {
    padding-left: 5px;
    padding-right: 5px;
}
#searchOptions {
    padding-top: 25px;
    text-align: center;
}
#loginForm {
    padding-top: 100px;
    text-align: center;
}
.dropdown-toggle:active +li.a:hover {
    /* color: var(--theme_color); */
    color: yellow;
}
/* .uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
} */
#icons {
    padding-left: 20px;
}
#pagefooter {
    padding-top: 25px;
    padding-bottom: 25px;
    background: var(--theme_color);
}